@import '../../node_modules/platypusui/dist/platypus';


.top-nav {
    height: 4em;
    width: 100%;
    background-color: #feffff;
    border-bottom: 2px solid black;
    padding-top: 1em;
    
    img {
        padding-top: 1em;
    }
    
    #fbLogo {
        float:right;
        height: 20px;
        width: auto;
        padding-right: 1em;
        padding-left: 1em;
    }
    
    #twitLogo {
        float:right;
        width: 20px;
        height: auto;
        padding-right: 1em;
        padding-left: 1em;
    }
    
    #sharkLogo {
        float:left;
        height: 20px;
        width: auto;
    }
    
    ul {
        list-style: none;
        text-align: right;
    }
    
    li {
        display: inline;
        color: #b4b6b8;
        padding-right: 5em;
    }
}
 footer ul {
    list-style: none;
    display: flex;
    background-color:#1c202a;
    width: 100%;
    height: 8em;
}

footer li {
    margin-left: 20em;
    
}
.about {
    margin-top: 2.5em;
    margin-left: -6.9em;
}

.promo {
    margin-left: 6em;
}

.video {
    margin-top: 2.5em;
    margin-left: -6.8em;
}

.left li {
    border: solid black;
}
.right li {
    border: solid black;
}

.line {
    background-color: black;
    height: 100px;
    width: 3px;
    margin-left: 10em;
}


@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';

