& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

.heroArea {
    background-image: url(../../images/how-to-play-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    height: 250px;
}

.heroArea p {
    color: #fff;
    font-family: "WorkSansExtraLight";
    font-size: 3.0em;
    text-align: center;
    line-height: 3.8em;
}

.pagenavalign {
    text-align: center;
    margin: auto;
}

.pagenavActive {
    text-align: center;
    width: 50%;
    height:  40px;
    font-family: "WorkSansRegular";
    font-size: 1.2em;
    line-height: 2em;
    color: @text_gray;
    background-color: @bground_gray;
    border-bottom: 3px solid @coversharkMedBlue;
    cursor: pointer;
    display: inline-block;
}

.pagenavInactive {
    text-align: center;
    width: 50%;
    height:  40px;
    font-family: "WorkSansRegular";
    font-size: 1.2em;
    line-height: 2em;
    color: @text_gray;
    background-color: @bground_gray;
    border-bottom: 3px solid @text_gray;
    cursor: pointer;
    display: inline-block;
}

.wrapper-view1 {
    background-color: @bground_gray;
    padding: 0px 0px 20px 0px;
    // text-align: center;
}

.wrapper-view2 {
    background-color: @bground_LgtGray;
    padding: 0px 60px 20px 60px;
    text-align: center;
}

.whitebground {
    background-color: #fff;
}

.moveright { /* make invisible on small */
    text-align: right;
}

.moveleft { /* make invisible on small */
    text-align: left;
    padding: 0px 60px 0px 60px;
}

.PhnBlckPhn {
    display: none;
    text-align: center;
    background-color: #fff;
}

.PhnBlckTab {
    text-align: right;
    background-color: #fff;
    padding: 0px 60px 0px 60px;
}

.notForPhone {
    background-color: #fff;
    padding: 0px 60px 0px 60px;
}

.moveleftTabVis { /* make invisible on small */
    text-align: left;
}

.video-row {
    text-align: center;
    margin: auto;
}

.videoSubhead h1 {
    font-family: "WorkSansExtraBold";
    font-size: 2.4em;
    color: @common_teal;
    text-align: center;
}

.videoSubhead h2 {
    font-family: "WorkSansExtraBold";
    font-size: 2.2em;
    color: #000;
    text-align: left;
}

.videoSubhead h3 {
    font-family: "RobotoCondensed";
    font-size: 2.0em;
    color: @text_gray;
    text-align: left;
}

.videoSubhead h4 {
    font-family: "RobotoCondensed";
    font-size: 1.8em;
    color: @text_gray;
    text-align: left;
}

.videoSubhead h5 {
    font-family: "WorkSansExtraBold";
    font-size: 1.6em;
    color: @text_gray;
    text-align: left;
}

.videoTxtHdr {
    font-family: "RobotoCondensed";
    font-size: 1.6em;
    line-height: 2.0em;
    color: #000;
    text-align: left;
    padding-left: 10px;
}

.videoTxtReg {
    font-family: "WorkSansRegular";
    font-size: 1em;
    color: @text_gray;
    text-align: left;
    margin-bottom: 20px;
}

.videoTxtReg hr {
    border: .5 solid #c4c4c4;
    text-align: center;
}

.videoTxtCallOut h1 {
    font-family: "WorkSansExtraBold";
    font-size: 2.4em;
    color: @coversharkMedBlue;
    text-align: left;
    margin-left: 70px;
}

.videoTxtCallOut h4 {
    font-family: "WorkSansExtraBold";
    font-size: 1.8em;
    color: @text_gray;
    text-align: left;
    margin-left: 70px;
}

.video-emial-input {
    height: 2.5em;
    width: 18em;
    font-family: "WorkSansRegular";
    font-size: 1.2em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: @text_gray;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
}

.get-start-sub-button {
    height: 40px;
    width: 180px;
    margin-top: 16px;
    background-color: @button_gray;
    text-align: center;
    border-radius: 5px;
    font-family: 'RobotoCondensed';
    font-size: 0.9em;
    color: white;
    line-height: 2.9em;
    letter-spacing: .2em;
}

.marqueeSubhead {
    font-family: "WorkSansExtraBold";
    color: @coversharkMedBlue;
    font-size: 1.2em;
}

.marqueeText {
    font-family: "RobotoBoldCondensed";
    color: @text_gray;
    font-size: 1em;
}

.videoSubheadCircle {
    font-family: "WorkSansExtraBold";
    font-size: 1.6em;
    color: #fff;
    line-height: 1.8em;
    background-color: @coversharkMedBlue;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding: 0px;
}

.videobox {
    background-color: #fff;
    box-shadow: 0px 2px 0px #c4c5c4; /* horiz, vert, spread, color */
    padding: 8px;
    width: 319px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.videobox-img {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.videobox-text p {
    border: 0px;
    font-size: 1.0em;
    color: @text_gray;
}

.videobox-text h2 {
    font-family: "WorkSansExtraBold";
    font-size: 2.2em;
    color: #000;
}

.videobox-text h4 {
    font-family: "WorkSansExtraBold";
    font-size: 1.8em;
    color: @coversharkMedBlue;
}

.videobox-button {
    height: 25px;
    width: 200px;
    background-color: @button_gray;
    // margin: auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    font-family: 'RobotoCondensed';
    font-size: 0.9em;
    color: white;
    line-height: 1.9em;
    letter-spacing: .2em;
}

//     -------------------------------------
//     -------------------------------------
//     media break points below ------------
//     -------------------------------------
//     -------------------------------------

@media screen and (max-width:700px) {
        
    .wrapper-view1 {
        background-color: @bground_LgtGray;
        padding: 0px 0px 20px 0px;
    }

    .wrapper-view2 {
        background-color: @bground_LgtGray;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .moveright {
        text-align: center;
    }

    .moveleft {
        text-align: center !important;
        padding: 0px !important;
    }
    
    .videoSubheadCircle {
        margin: auto !important;
        float: none;
    }
    
    .videoSubhead {
        h2, h3, h4, h5 {
            text-align: center !important;
            margin: auto !important;
        }
    }

    .video-emial-input {
        height: 2.0em;
        width: 15em;    
        margin-top: 10px;
        text-align: center;
    }
    
    .notForPhone {
        background-color: @bground_gray;
        display: none;
    }
    
    .get-start-sub-button {
        height: 28px;
        width: 160px;
        text-align: center;
        border-radius: 5px;
        line-height: 2.2em;
        margin: auto;
        margin-top: 10px;
    }
    
    .videobox {
        box-shadow: 0px 2px 0px #c4c5c4; /* horiz, vert, spread, color */
        // padding: 8px;
        // width: 319px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 15px;
        float: none;
    }

    .videoTxtHdr {
        text-align: center;
        padding-left: 0px;
    }

    .videoTxtReg {        
        text-align: center;
    }
    
    .videoSubheadCircle {        
        text-align: center;
    }
    
    .video-row {
        text-align: center;
        margin: auto;
    }

    .PhnBlckPhn { /* make invisible on small */
    text-align: center;
    display: block;
    }
    
    .PhnBlckTab { /* make invisible on small */
        display: none;
    }
    
    .moveleftTabVis { /* make invisible on small */
        display: none;
    }
}