& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

@font-face {
    font-family: "WorkSansExtraBold";
    src: url("../fonts/WorkSans-ExtraBold.ttf");
}

@font-face {
    font-family: "WorkSansRegular";
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("../fonts/Roboto-Condensed.ttf");
}

.wrapper-view1 {
    background-color: #fff;
    padding: 0px 40px 20px 40px;
    // text-align: center;
}

.wrapper-view2 {
    background-color: @bground_LgtGray;
    padding: 0px 40px 0px 40px;
    text-align: center;
}

.moveright { /* make invisible on small */
    text-align: right;
}

.PhnBlckPhn {
    display: none;
    text-align: center;
}

.PhnBlckTab {
    text-align: right;
    // display: none;
}

.moveleft { /* make invisible on small */
    text-align: left;
}

.moveleftTabVis { /* make invisible on small */
    text-align: left;
}

.video-row {
    text-align: center;
    margin: auto;
}

.videoSubhead h1 {
    font-family: "WorkSansExtraBold";
    font-size: 2.4em;
    color: @common_teal;
    text-align: center;
}

.videoSubhead h2 {
    font-family: "WorkSansExtraBold";
    font-size: 2.2em;
    color: #000;
    text-align: left;
}

.videoSubhead h3 {
    font-family: "RobotoCondensed";
    font-size: 2.0em;
    color: @text_gray;
    text-align: left;
}

.videoSubhead h4 {
    font-family: "RobotoCondensed";
    font-size: 1.8em;
    color: @text_gray;
    text-align: left;
}

.videoSubhead h5 {
    font-family: "WorkSansExtraBold";
    font-size: 1.6em;
    color: @text_gray;
    text-align: left;
}

.videoTxtHdr {
    font-family: "RobotoCondensed";
    font-size: 1.6em;
    line-height: 2.0em;
    color: #000;
    text-align: left;
    padding-left: 10px;
}

.videoTxtReg {
    font-family: "WorkSansRegular";
    font-size: 1em;
    color: @text_gray;
    text-align: left;
    margin-bottom: 20px;
}

.videoTxtReg hr {
    border: .5 solid #c4c4c4;
    text-align: center;
}

.videoTxtCallOut h1 {
    font-family: "WorkSansExtraBold";
    font-size: 2.4em;
    color: @coversharkMedBlue;
    text-align: left;
    margin-left: 70px;
}

.videoTxtCallOut h4 {
    font-family: "WorkSansExtraBold";
    font-size: 1.8em;
    color: @text_gray;
    text-align: left;
    margin-left: 70px;
}

.video-emial-input {
    height: 2.5em;
    width: 18em;
    font-family: "WorkSansRegular";
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: @text_gray;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
}

.get-start-sub-button {
    height: 32px;
    width: 180px;
    margin-top: 10px;
    background-color: @button_gray;
    text-align: left;
    border-radius: 5px;
    font-family: 'RobotoCondensed';
    font-size: 0.9em;
    color: white;
    line-height: 2.3em;
    letter-spacing: .2em;
}

.videoSubheadCircle {
    font-family: "WorkSansExtraBold";
    font-size: 1.6em;
    color: #fff;
    line-height: 1.8em;
    background-color: @coversharkMedBlue;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding: 0px;
}

.videobox {
    background-color: #fff;
    box-shadow: 0px 2px 0px #c4c5c4; /* horiz, vert, spread, color */
    padding: 8px;
    width: 319px;
    margin-left: 15px;
    margin-right: 15px;
}

.videobox-img {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.videobox-text p {
    border: 0px;
    font-size: 1.0em;
    color: @text_gray;
}

.videobox-text h2 {
    font-family: "WorkSansExtraBold";
    font-size: 2.2em;
    color: #000;
}

.videobox-text h4 {
    font-family: "WorkSansExtraBold";
    font-size: 1.8em;
    color: @coversharkMedBlue;
}

.videobox-button {
    height: 25px;
    width: 200px;
    background-color: @button_gray;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    font-family: 'RobotoCondensed';
    font-size: 0.9em;
    color: white;
    line-height: 1.9em;
    letter-spacing: .2em;
}

@media screen and (max-width:700px) {
    .wrapper-view1 {
        background-color: #fff;
        padding: 0px 0px 20px 0px;
        // text-align: center;
    }

    .wrapper-view2 {
        background-color: @bground_LgtGray;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .moveright {
        text-align: center;
    }

    .moveleft {
        text-align: center;
    }
    
    .videoSubhead {
        h2, h3, h4, h5 {
            text-align: center;
        }
    }

    .video-emial-input {
        height: 2.0em;
        width: 15em;    
        margin-top: 10px;
        text-align: center;
    }
    
    .notForPhone {
        display: none;
    }
    
    .get-start-sub-button {
        height: 28px;
        width: 160px;
        text-align: center;
        border-radius: 5px;
        line-height: 2.2em;
    }

    .videoTxtHdr {
        text-align: center;
        padding-left: 0px;
    }

    .videoTxtReg {        
        text-align: center;
    }
    
    .videoSubheadCircle {        
        text-align: center;
    }
    
    .PhnBlckPhn { /* make invisible on small */
    text-align: center;
    display: block;
    }
    
    .PhnBlckTab { /* make invisible on small */
        display: none;
    }
    
    .moveleftTabVis { /* make invisible on small */
        display: none;
    }
}