.hero-image-wrap {
    width: 100%;
    height: 20em;
    background-image: url(../../images/about-hero.jpg);
    background-size: cover;
    display: table;
    padding: 0px;
    margin: 0px;
    p {
        margin: 0px;
        padding: 0px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-family: "WorkSansExtraLight";
        font-size: 3.0em;
        letter-spacing: 4px;
    }

}

.how-it-started-wrap {
    padding-top: 4.5em;
    height: 35em;
    width: 100%;
    
    img {
        width: auto;
        height: 25em;
        text-align: right;
        float: right;

    }
    h1 {
       font-family: "WorkSansExtraBold";
       font-size: 2em; 
       margin: 0px;
       margin-bottom: 0.2em;
       padding: 0px;
    }
    h3 {
        font-family: "WorkSansExtraBold";
        margin: 0px;
        font-size: 1.3em;
        color: @text_gray;
    }
    
    p {
        font-family: "WorkSansRegular";
    }
    
    .text-wrap {
        width: 23em;
        padding-left: 1em;
    }
}

.subscribe-wrap {
    height: 8em;
    width: 100%;
    background-color: @coversharkMedBlue;
    text-align: center;
    padding-top: 2.7em;
    
    input {
        font-family: "RobotoCondensed";
        width: 30em;
        height: 40px;
        text-align: left;
        border-radius: 0.5em;
        margin-right: 0.5em;
    }
    
    .sub-button {
        display: inline-block;
        font-family: "RobotoCondensed";
        color: white;
        background-color: #393a3c;
        height: 40px;
        width: 200px;
        text-align: center;
        line-height: 40px;
        border-radius: 0.5em;
        letter-spacing: 2px;
        margin: auto;
        
    }
}