& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {

    }
    
    @font-face {
   font-family: 'WorkSansXLite';
   src: url("../fonts/WorkSans-ExtraLight.ttf");
}

 @font-face {
   font-family: "WorkSansXBold";
   src: url("../fonts/WorkSans-ExtraBold.ttf");
}

@font-face {
    font-family: "RobotoBoldCondensed";
    src: url("../fonts/Roboto-BoldCondensed.ttf");
}

@font-face {
   font-family: "WorkSansReg";
   src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("../fonts/Roboto-Condensed.ttf");
}

.featPromo {
    margin-top: -24px;
    background-image: url(../../images/football3-hero.png);
    width: 100%;
    height: 20em;
    background-size: cover;
    background-position: center;
}

.promo-wrap {
   margin: 0;
   height: 100%;
   width: 100%;
   text-align: center !important;
   padding-top: 5em;
}
.featPromo p {
    color: white; 
    font-family: 'WorkSansXLite';
    letter-spacing: 5px;
    font-size: 3.0em;
    text-align: center;
}


.part2 {
    height:auto;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    
    h6 {
        padding-top: 50px; 
        font-family: 'RobotoBoldCondensed';
        letter-spacing: 1px;
        color: @text_gray;
        }
    h2 {
      font-family: 'WorkSansXBold';
      color: @common_teal;
    } 
    
    h5{
      font-family: 'WorkSansXBold';
      color: @common_teal;    
    }   
    p {
        font-family: 'WorkSansReg';
        color: @text_gray;
        
    }
}

.yeti img {
    height:400px;
    width: auto;
    padding-top:0;
}



.register-button1 {
    height: 50px;
    width: 200px;
    color: white;
    background-color: @button_gray;
    text-align: center;
    font-family: 'RobotoCondensed';
    letter-spacing: .2em;
    border-radius: 5px; 
    line-height: 1em;
    font-size: 18px; 
}

.full-modal {
    #platui > #Modal;
    .plat-modal-prompt(prompt-title-background-color; @bground_gray);
    .plat-modal-prompt(prompt-title-color; @coversharkMedBlue);
    .plat-modal-prompt(prompt-title-width; 100%);
}


.prompt-body {
    height: 22em;
    text-align: center;
    color: @text_gray;
}
.prompt-title {
    position: relative;
    font-family: 'RobotoBoldCondensed';
    
    #exit {
        position: fixed;
        right: 1%;
        top: 1%;
        background-color: transparent;
        border: none;
        font-size: 30px;
        outline: none;
    }
    
}
#first {
    height: 30px;
    width: 405px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    font-family: 'WorkSansReg';
}

#email {
    height: 30px;
    width: 405px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    font-family: 'WorkSansReg';
}

#zip {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border-style: none;
    font-family: 'WorkSansReg';
}

#team {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border-style: none;
    font-family: 'WorkSansReg';
}


.register-button3 {
    position: absolute;
    height: 50px;
    width: 200px;
    color: white;
    background-color: @button_gray;
    text-align: center;
    font-family: 'RobotoCondensed';
    letter-spacing: .2em;
    border-radius: 5px; 
    line-height: 1em;
    font-size: 18px;
    margin-left: -105px; 
}

.row-phn {
    display: none;
}



/////////////////////////////////////////BREAK///////////////////////////////////////////

@media screen and (max-width:700px) {
    .row-phn {
        display: block;

    
    
    .register-button2 {
    height: 50px;
    width: 200px;
    color: white;
    background-color: @button_gray;
    text-align: center;
    font-family: 'RobotoCondensed';
    letter-spacing: .2em;
    border-radius: 5px; 
    line-height: 1em;
    font-size: 18px;
  }
  
  .yetiImage {
      text-align: center;
  }
  
  .yeti2 img {
   height:300px;
   width: auto;
   margin: auto;
} 
    }

.part2-2 {
    height:auto;
    text-align: center;
    
    h6 {
        padding-top: 50px; 
        font-family: 'RobotoBoldCondensed';
        letter-spacing: 1px;
        color: @text_gray;
        }
    h2 {
      font-family: 'WorkSansXBold';
      color: @common_teal;
    } 
    
    h5{
      font-family: 'WorkSansXBold';
      color: @common_teal;    
    }   
    p {
        font-family: 'WorkSansReg';
        color: @text_gray;
        
    }
}
    





.row-tab{
    display: none;
}


yeti {
    display: none;
}


// .full-modal {
//     #platui > #Modal;
//     .plat-modal-prompt(prompt-title-background-color; @bground_gray);
//     .plat-modal-prompt(prompt-title-color; @coversharkMedBlue);
// }

.phone {
    
    .register-button4 {
    height: 50px;
    width: 200px;
    color: white;
    background-color: @button_gray;
    text-align: center;
    font-family: 'RobotoCondensed';
    letter-spacing: .2em;
    border-radius: 5px; 
    line-height: 1;
    font-size: 18px;
  }
  
  #first2 {
      width: 350px;
      height: 35px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-family: 'RobotoCondensed';
      padding-left: 15px;
  }
  
  #email2 {
      width: 350px;
      height: 35px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-family: 'RobotoCondensed';
      padding-left: 15px;
  }
  
  #zip2 {
      width: 350px;
      height: 35px; 
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-family: 'RobotoCondensed';
      padding-left: 15px;
  }
  
  #team2 {
      width: 350px;
      height: 35px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-family: 'RobotoCondensed';
      padding-left: 15px;
  }
  
  .prompt-title2 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 20px;
      color: @coversharkMedBlue;
      font-family: 'RobotoBoldCondensed';
      word-spacing: 2px;
      font-size: 22px;
      background-color: @bground_gray;
      position: relative;
      
      #exit {
        position: fixed;
        right: 1%;
        top: 5%;
        background-color: transparent;
        border: none;
        font-size: 30px;
        outline: none;
    }
      
  }
  
  .prompt-body2 {
      text-align: center;
      background-color: @bground_gray;
      height: 110vh;
     
    p {
      font-family: 'WorkSansReg';
      color: @text_gray;
    }  
  }
}

}
}
 